KinectTemplate.pro.user
Makefile
Makefile.Debug
Makefile.Release
debug/KinectTemplate.exe.embed.manifest
debug/KinectTemplate.exe_manifest.rc
debug/KinectTemplate.exe_manifest.res
debug/KinectTemplate.ilk
debug/kinectTemplate.pdb
*.obj
*.exe

